.film,
.photography {
  margin-top: 2em;
}

.preview-item {
  padding: 3.75em;
}

.thumb-previews {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  .preview-item {
    flex: 1;
  }
}
